<!DOCTYPE html>
<html lang="en">
  <%- include('head'); -%>

  <body>
    <%- include('nav'); -%> <%- include('heroSection'); -%>
    <main id="main">
      <%- include('about'); -%> <%- include('features'); -%> <%- include('cta');
      -%> <%- include('testimonials'); -%> <%- include('faqs'); -%> <%-
      include('contact'); -%>
    </main>
    <%- include('footer'); -%>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.2.0/nouislider.js"></script>
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>
    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/calc.js"></script>
  </body>
</html>
